body {
  font-family: cursive;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange {
  color: rgb(0, 81, 255);
}
.flex-one {
  display: flex;
  padding: 5px 30px;
}
.half {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}
.half p {
  width: 80%;
  margin-bottom: 40px;
}
.half a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(18, 143, 226),
    rgb(36, 54, 214)
  );
  padding: 15px 40px;
  border-radius: 30px;
}
.half2 img {
  width: 90%;
  margin: 0 auto;
  background-image: url(images/shapes/Group\ 8446.png);
  background-position: center;
  background-size: 100%;
}
